src/main/resources/calc.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="http://schemas.xmlsoap.org/soap/envelope/"/>

  <xs:element name="Envelope" type="soap:Envelope"/>
  <xs:element name="Body" type="soap:Body"/>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="SubtractResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
